*{
    box-sizing: border-box;
    /* overflow-y: hidden; */
}

body {
    background-color: #160035;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: white;
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}


/* Navbar Start */
.navbar{
    background-color: transparent;
}
.nav-text{
    color: #ffffff;
    font-weight: bold;
}

@media screen and (max-width: 600px){
    .navbar{
        display: none;
    }
}

/* Background Image start */

.bg-image {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
}

@media screen and (max-width: 700px){
    .bg-image{
        height: 60vh;
        width: 300vw;
    }
    .div-scroll{
        margin-top: -10vh;
        width: 98vw;
        height: 70vh;
        overflow: auto;
        text-align: justify;
    }
}

/* Home Start */

.home{
    height: 100vh;
    z-index: -2;
    margin: 0;
}
  
.home-text {
    width: 100vw;
    height: 100vh;
    color: rgb(255, 255, 255);
    font-weight: bold;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4s;
    text-align: left;
    justify-content: center;
    overflow: hidden;
  }

.home-col-left{
    padding-top: 20vh;
    padding-left: 35vh;
}
.home-col-right{
    margin-top: 33vh;
}

.home-img{
    width:80%;
}
.logo-img{
    display: none;
}

@media screen and (max-width: 700px){
    .home{
        justify-content: center;
    }
    .home-text h1{
        font-size: 12vw;
    }
    .home-text h2{
        font-size: 3em;
        margin: -4%;
        margin-top: 10%;
    }
    .home-text{
        top:20%;
        justify-content: center;
        overflow: visible;
    }
    .home-col-left{
        margin-top: 1vh;
        /* padding-left: 6vw; */
        margin-left: 0;
    }
    .home-col-right{
        margin-top: 4vh;
        padding-right: 0%;
        overflow: visible;
    }
    .logo-img{
        margin-top: 3%;
        width: 40%;
        display: inline;
    }
    .home-img{
        width:70%;
    }
}

/* About Start */

.about{
    /* background-color: rgb(73, 73, 73); */
    /* height: 100vh; */
    width: 100vw;
    z-index: -2;
}

.about-text{
    width: 100%;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 115%;
    left: 1%;
    z-index: 3;
    text-align: left;
    /* border: 3px solid red; */
}



.box1 p {
    color: var(--grayishBlue);
}

.box1 {
    border-radius: 5px;
    box-shadow: 0px 30px 40px -20px var(--grayishBlue);
    padding: 30px;
    margin: 20px;  
}

img {
    float: right;
}

@media (max-width: 450px) {
    .box1 {
        height: 200px;
    }
}

@media (max-width: 950px) and (min-width: 450px) {
    .box1 {
        text-align: center;
        height: 180px;
    }
}

.cyan {
    border-top: 3px solid var(--cyan);
}
.red {
    border-top: 3px solid var(--red);
}
.blue {
    border-top: 3px solid var(--blue);
}
.orange {
    border-top: 3px solid var(--orange);
}

h2 {
    color: var(--varyDarkBlue);
    font-weight: var(--weight3);
}


@media (min-width: 950px) {
    .row1-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .row2-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box-down {
        position: relative;
        top: 150px;
    }
    .box1 {
        width: 20%;
     
    }
}
@media screen and (max-width: 700px){
    .about{
        height: 130vh;
    }
    .about-text{
        top: 112%;
    }
    .about-p p{
        font-size: 0.8em;
    }
    .about-p img{
        padding-left: 10vw;
    }
    .about-p h6{
        font-size: 0.9em;
    }
    .about-p h1{
        font-size: 2em;
        text-align: center;
    }
    .about-col-left{
        margin-top: -10vh;
        padding-left: 0%;
        padding: 15px;
    }
    .about-col-right{
        margin-top: -5vh;
        padding: 15px;
    }
}

/* Ideathon start */

.ideathon{
    /* background-color:yellow; */
    height: 100vh;
    width: 100%;
    z-index: -2;
}

.ideathon-text{
    width: 100vw;
    color: rgb(255, 255, 255);
    font-weight: bold;
    position: absolute;
    /* top: 230%; */
    left: 1%;
    z-index: 3;
    text-align: center;   
}

.ideathon-text h2{
    font-size: 4em;
    /* text-align: center; */
    font-family: 'Aleo';  
}

.container1{
    /* width: 1000px; */
    text-align: center;
    padding-left: 10vw;
    padding-right: 10vw;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.container1 .card1{
    position: relative;
    cursor: pointer;
}

.container1 .card1 .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container1 .card1 .face.face1{
    position: relative;
    background: #0d0020;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container1 .card1:hover .face.face1{
    background: #2bfe7f83;
    transform: translateY(0);
}

.container1 .card1 .face.face1 .content1{
    opacity: 0.2;
    transition: 0.5s;
}

.container1 .card1:hover .face.face1 .content{
    opacity: 1;
}

.container1 .card1 .face.face1 .content1 img{
    max-width: 100px;
}

.container1 .card1 .face.face1 .content1 h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.container1 .card1 .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.container1 .card1:hover .face.face2{
    transform: translateY(0);
}

.container1 .card1 .face.face2 .content1 p{
    margin: 0;
    padding: 0;
    color: #000;
}

.container1 .card1 .face.face2 .content1 a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.container1 .card1 .face.face2 .content1 a:hover{
    background: #333;
    color: #fff;
}
@media screen and (max-width: 700px){
    .ideathon{
        /* background-color:yellow; */
        height: 190vh;
    }
    
    .ideathon-text{
        top: 252%; 
    }
    .details{
        margin-top: -10vh;
    }
    .details .box{
        position: relative;
        height: 54vh;
        width: 80%;
        background: #060c21;
        display: flex;
        justify-content: justify;
        align-items: center;
        margin: 1em;
    }
    .box .con h3{
        font-size: 2em;
        font-weight: bold;
    }
}

/* Judges start */

.judges{
    /* background-color: rgb(59, 117, 0); */
    /* padding-left: 10vw;
    padding-right: 10vw; */
    /* height: 100vh; */
    width: 100%;
    z-index: -2;
}

.our-team {
    padding: 30px 0 40px;
    margin-bottom: 30px;
    background-color: #f7f5ec;
    text-align: center;
    overflow: hidden;
    position: relative;
    color: #000;
  }
  
  .our-team .picture {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
  }

  .our-team h3{
      font-size: 1.4em;
  }
  
  .our-team .picture::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: #2BFE80;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.3s linear 0s;
  }
  
  .our-team:hover .picture::before {
    height: 100%;
  }
  
  .our-team .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #2BFE80;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .our-team .picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
  }
  
  .our-team:hover .picture img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
  }
  
  .our-team .title {
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;
  }
  
  .our-team .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #2BFE80;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
  }
  
  .our-team:hover .social {
    bottom: 0;
  }
  
  .our-team .social li {
    display: inline-block;
  }
  
  .our-team .social li a {
    display: block;
    padding: 10px;
    font-size: 17px;
    color: white;
    transition: all 0.3s ease 0s;
    text-decoration: none;
  }
  
  .our-team .social li a:hover {
    color: #2BFE80;
    background-color: #f7f5ec;
  }

.judges-text{
    width: 100%;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 312%;
    left: 1%;
    z-index: 3;
    text-align: center;
    /* border: 3px solid red; */
}

.judge-img{
    margin-top: 5vh;
    position: relative;
    display: flex;
    width: 19vw;
    height: 20vw;
    justify-self: center;
    justify-content: justify;
    align-items: center;
    z-index: 6;
    margin-left: 2vw;
    
}

.judge-border{
    margin-left: 2vw;
    /* border: 3px solid black; */
    background-color: rgba(0, 0, 0, 0.5);
    width: 21vw;
    height: 20vw;
    top: -21vw;
    left: -1vw;
    position: relative;
    /* z-index: 7; */
}

.judge-img-big{
    position: relative;
    display: flex;
    width: 22vw;
    height: 23vw;
    justify-self: center;
    justify-content: justify;
    align-items: center;
    z-index: 6;
}

.judge-border-big{
    /* border: 3px solid black; */
    background-color: rgba(0, 0, 0, 0.5);
    width: 24vw;
    height: 23vw;
    top: -24vw;
    left: -1vw;
    position: relative;
}

.judges-p h1{
    font-size: 2em;
    font-weight: bold;
    top: -20vw;
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.judges-p p{
    font-size: 1.2em;
    top: -20vw;
    position: relative;
}
.judge-phone{
    display: none;
}
.judge-web{
    display: block;
}

@media screen and (max-width: 700px){
    .judges{
        height: 200vh;
    }
    .judge-web{
        display: none;
    }
    .judge-phone{
        display: inline;
        width: 100%;
        /* padding: 0; */
    }
    .judges-text{
        top: 452%;
    }
    .judge-img{
        margin-top: 5vh;
        width: 80vw;
        height: 85vw;
        margin-left: 4vw;
    }
    .judges-p:nth-child(1){
        margin-top: -10vh;
    }
    .j2{
        margin-top: -30vh;
    }
    .judge-border{
        margin-left: 2vw;
        width: 86vw;
        height: 84vw;
        top: -88vw;
        left: -1vw;
    }
    .judges-p h1{
        font-size: 2em;
        font-weight: bold;
        top: -80vw;
        position: relative;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    .judges-p p{
        font-size: 1.2em;
        top: -80vw;
        position: relative;
    }
}

/* Timeline start */

.timeline{
    background-color:chocolate;
    height: 140vh;
    width: 100%;
    z-index: -2;
}

.timeline-text{
    width: 100%;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 412%;
    left: 1%;
    z-index: 3;
    text-align: center;
    /* padding-top: 20vh; */
    /* border: 3px solid red; */
}

.scroll {
    /* background-color: #e64a19; */
    width: 98vw;
    height: 110vh;
    overflow: auto;
    text-align: justify;
    padding: 20px;
}
@media screen and (max-width: 700px){
    .timeline{
        height: 130vh;
    }
    
    .timeline-text{
        top: 667%;
    }
    .scroll{
        margin-left: -5vh;
        margin-top: -10vh;
        height: auto;
    }
}

.scroll::-webkit-scrollbar {
    display: none;
}

/* The actual timeline (the vertical ruler) */
.timeline-div {
    position: relative;
    width: 94vw;
    /* margin-top: 20vh; */
    /* border: 3px solid red;  */
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline-div::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .container-div {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .container-div::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    color: black;
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 700px) {
  /* Place the timelime to the left */
    .timeline-div::after {
      left: 31px;
    }
  
  /* Full-width containers */
    .container-div {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
      overflow: visible;
    }
  
  /* Make sure that all arrows are pointing leftwards */
    .container-div::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }
  
  /* Make sure all circles are at the same spot */
    .left::after, .right::after {
      left: 15px;
    }
  
  /* Make all right containers behave like the left ones */
    .right {
      left: 0%;
    }
    .content{
        width: 34vh;
        overflow: visible;
    }
    .content h2{
        font-size: 1.4em;
    }
  }

/* Register start */

.register{
    /* background-color:rgb(0, 90, 53); */
    height: 100vh;
    width: 100%;
    z-index: -2;
}

.register-text{
    width: 100%;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 552%;
    left: 1%;
    z-index: 3;
    text-align: center;
    /* border: 3px solid red; */
}

.register-col-left{
    /* padding-top: 30vh; */
    margin-left: -5vw;
}
.register-col-right{
    margin-top: -15vh;
    /* padding-left: 50vw; */
}

.rules{
    padding-left: 10vw;
    /* margin-top: 5vh; */
    font-size: 1.5em;
}

.rules p{
    padding-top: 15vh;
    text-align: justify;
    font-size: 2.5em;
}

.register-col-right p{
    text-align: center;
    font-size: 2em;
    padding-top: 15vh;
    padding-bottom: 15vh;
    padding-left: 3vw;
    color: red;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

.form{
    top: 5vh;
    right: 10vw;
    padding-left: 10vw;
    justify-self: right;
    /* position: absolute; */
    height: 77vh;
    width: 50vw;
    overflow: hidden;
}

@media screen and (max-width: 700px) {
    .register-col-right p{
        padding: 2vh;
        /* margin-left: 5vw;
        margin-right: -5vw; */
    }
    .register{
        /* background-color:rgb(0, 90, 53); */
        height: 100vh;
        width: 100%;
        z-index: -2;
    }
    .register-col-left{
        /* padding-top: 30vh; */
        margin-left: -8vw;
        margin-top: -10vh;
    }
    .register-col-right{
        margin-top: 0vh;
        /* margin-left: -8vw; */
    }
    .rules{
        font-size: 1em;
    }
    .rules p{
        padding-top: 10vh;
    }
    .register-text{
        top: 802%;
    }
    .form{
        top: 5vh;
        right: 10vw;
        padding-left: 10vw;
        justify-self: right;
        /* position: absolute; */
        height: 98vh;
        width: 95vw;
        overflow: hidden;
    }
    
}

/* Contact start */

.faqs{
    background-color: #9370bb;
    min-height: 100vh;
    /* height: ; */
    width: 100%;
    z-index: -2;
}

.faqs-text{
    width: 100%;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 652%;
    left: 1%;
    z-index: 3;
    text-align: center;
    /* border: 3px solid red; */
}

.QandA{
    font-size: 1.2em;
    /* padding: 0.5em; */
    /* border: 3px solid red; */
    border-radius: 1em;
    background-color: bisque;
    margin-top: 0.8em;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.question{
    font-family: 'Source Code Pro', monospace;
    font-size: 1.0em;
    /* background-color: #eee; */
    color: #444;
    cursor: pointer;
    padding: 1em;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    z-index: 10;
}

.ac, .question:hover {
    background-color: white;
    border-radius: 1em;
}

.answer{
    font-family: 'Pacifico', cursive;
    color: purple;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    background-color: bisque;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    display: none;
    overflow: hidden;
    z-index: 5;
}

.quiz-col-left{
    margin-top: 10vh; padding-left: 6vw;
}
.quiz-col-right{
    margin-top: 4vh; padding-right: 6vw;
}
.scroll-faq{
    /* background-color: #e64a19; */
    width: 98vw;
    height: 64vh;
    overflow: auto;
    text-align: justify;
    padding: 20px;
}
.scroll-faq::-webkit-scrollbar {
    display: none;
}
@media screen and (max-width: 700px) {
    .faqs{
        /* background-color:rgb(0, 90, 53); */
        height: 115vh;
        width: 100%;
        z-index: -2;
    }
    
    .faqs-text{
        top: 922%;
    }
    .quiz-col-left{
        margin-top: 0vh;
        padding-left: 3vw;
        padding-right: 6vw;
    }
    .quiz-col-right{
        margin-top: -2vh;
        /* padding-right: 2vw; */
        /* padding-left: 13vw; */
    }
    .scroll-faq{
        /* background-color: #e64a19; */
        margin-top: -10vh;
        width: 98vw;
        height: 100vh;
        overflow: auto;
        text-align: justify;
        padding: 0px;
    }
}