
a{
    color: white;
}

.filler{
    height: 20px;
    
}

.navbar{
    justify-content: center;
    color: whitesmoke;
}

.btn{
    border: 1px solid #2BFE80;
    transition: 1s;
    background-color:  inherit;
}

.btn:hover{
    background-color: #2BFE80;
    color: black;
}

.breadcrumb{
    background-color: inherit;
}

.title{
    font-family: 'Aleo';
    font-size: 6em;
}

.sub-title{
    display: flex;
    flex-wrap: wrap;
}

.sub-topic{
    font-size: 1em;
}
  
.countdown{
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
}

#clock{
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Aleo';
    font-size: 3em;
    font-weight: bolder;
    color: #2BFE80;
}

.row{
    width: 100%;
}

.centrify{
    display: flex;
    justify-content: center;
    justify-items: center;
}