a{
    color: white;
}

.filler{
    height: 20px;
    
}

.navbar{
    justify-content: center;
    color: whitesmoke;
}

.btn{
    border: 1px solid #2BFE80;
    transition: 1s;
    background-color:  inherit;
}

.btn:hover{
    background-color: #2BFE80;
    color: black;
}

.breadcrumb{
    background-color: inherit;
}

.title{
    font-family: 'Aleo';
    font-size: 6em;
}

.sub-title{
    display: flex;
    flex-wrap: wrap;
}

.sub-topic{
    font-size: 1em;
}
  
.countdown{
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
}

#clock{
    width: 100%;
    display: flex;
    /* justify-content: center; */
    font-family: 'Aleo';
    font-size: 3em;
    font-weight: bolder;
    color: #2BFE80;
}

.row{
    /* width: 100%; */
}

.centrify{
    display: flex;
    justify-content: center;
    justify-items: center;
}

.timeline-steps {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.timeline-steps .timeline-step {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1rem;
    opacity: .5;
}

.timeline-steps .timeline-step:hover{
    opacity: .9;
}

@media (min-width:768px) {
    .timeline-steps .timeline-step:not(:last-child):after {
        content: "";
        display: block;
        border-top: .25rem dotted #2BFE80;
        width: 3.46rem;
        position: absolute;
        left: 7.5rem;
        top: .3125rem
    }
    .timeline-steps .timeline-step:not(:first-child):before {
        content: "";
        display: block;
        border-top: .25rem dotted #2BFE80;
        width: 3.8125rem;
        position: absolute;
        right: 7.5rem;
        top: .3125rem
    }
}

.timeline-steps .timeline-content {
    width: 10rem;
    text-align: center
}

.timeline-steps .timeline-content .inner-circle {
    border-radius: 1.5rem;
    height: 1rem;
    width: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
    background-color: #2BFE80
}

.timeline-steps .timeline-content .inner-circle::before {
    content: "";
    background-color: #2BFE80;
    display: inline-block;
    height: 3rem;
    width: 3rem;
    min-width: 3rem;
    border-radius: 6.25rem;
    opacity: .5
}

.faq {
    float: left;
    width: 100%;
    display: block;
    background: #063274;
    height: 100vh;
  }
  .faq-container {
      float: left;
      width: 80%;
      margin: 2rem 10%;
  }
  .fullwidth-container {display:block;width:80%;margin:2rem 10%}
  #faqs {}
  .line-heading {
    font-family: sans-serif;
    color: #ccd6f6;
    font-weight: 600;
    line-height: 1.1;
    display: flex;
    align-items: center;
    width: 90%;
    margin: 10px 0 40px 10%;
    white-space: nowrap;
    font-size: 26px;
    text-shadow: 1px 1px 1px rgb(0,0,0);
  }
  .line-heading:after {
    content: "";
    display: block;
    position: relative;
    width: 300px;
    height: 1px;
    margin: 0 0 0 20px;
    background: rgba(204,214,246,.2);
    text-shadow: none;
    transition: all .6s ease-in-out 0s
  }
  .line-heading:hover:after{
    width: 180px;
    background: rgba(204,214,246,.6);
  }
  h3.large-heading {
    font-family: sans-serif;
    margin: 0 0 0 10%;
    font-size: 52px;
    line-height: 1.1;
    letter-spacing: -.045em;
    color: #fff;
    text-shadow: 1px 1px 1px rgb(0 0 0);
  }

/** The Faq Section **/
#faqSection div {
float: left;
display: inline-block;
width: 46%;
margin: 0 2%;
overflow: hidden;
}
#faqSection .collapsible {
background-color: #112240;
border: 1px solid hsla(0,0%,51.4%,.16);
border-radius: 7px;
box-shadow: 0 10px 30px -15px rgb(0 0 0);
transition: box-shadow .1s ease 0s;
color: #ccd6f6;
margin: 0 0 8px;
width: 100%;
padding: 12px;
font-family: sans-serif;
font-size: 15px;
text-align:left;
}
#faqSection .collapsible:hover {
box-shadow: 0 10px 60px -15px rgba(0,0,0,1);
}
/* #faqSection .active, #faqSection .collapsible:hover {} */
#faqSection .collapsible:after {content:"\002B";font-weight:bold;float:right;margin-left:5px}
#faqSection .active:after {content:"\2212"}
#faqSection .faq-content {
overflow: hidden;
width: calc(100% - 8%);
padding: 5px 2%;
transition: all .5s ease-in-out 0s;
background: #0b1629;
border: 1px solid hsla(0,0%,51.4%,.16);
border-radius: 7px;
max-height: 0px;
visibility: hidden;
}
#faqSection .faq-content p {
font-family: sans-serif;
color: #c2c2c2;
line-height: 140%;
font-size: 14px;
margin: 0 0 12px;
text-shadow: 1px 1px 0 rgb(0 0 0 / 80%);
font-weight: 100;
}
#faqSection .faq-content a {
color: #00C58E;
font-weight: 600;
letter-spacing: .05rem;
}

button:focus{
    outline: none;
}